:root {
    --primary-text-color:#212121;
    --secondary-text-color: #757575;
    --primare-bgc-color: #E5E5E5;
    --secondary-bgc-color: #2F303A;
    --normal-font: 400;
    --medium-font: 600;
    --bold-font: 700;
    --bolder-font: 800:

}
body {}




.header { 
    background-color: ;}